name: Deploy to AWS Dev Server

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v1
        env:
          AWS_REGION: ${{ secrets.AWS_REGION }}
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          
      - name: List files in directory (for debugging)
        run: ls -la

      - name: Build and Push Frontend Docker Image to ECR
        env:
          AWS_REGION: ${{ secrets.AWS_REGION }}
          ECR_REPOSITORY_URI: ${{ secrets.FRONTEND_ECR_REPOSITORY_URI }}
        run: |
          docker build -t myrepo/frontend:latest ./frontend
          docker tag suleimanmohammed/node-react-sample-code-frontend:latest $ECR_REPOSITORY_URI:frontend:latest
          docker push $ECR_REPOSITORY_URI:frontend-latest

      - name: Build and Push Backend Docker Image to ECR
        env:
          AWS_REGION: ${{ secrets.AWS_REGION }}
          ECR_REPOSITORY_URI: ${{ secrets.BACKEND_ECR_REPOSITORY_URI }}
        run: |
          docker build -t myrepo/backend:latest ./backend
          docker tag suleimanmohammed/node-react-sample-code-backend:latest $ECR_REPOSITORY_URI:backend:latest
          docker push $ECR_REPOSITORY_URI:backend-latest

      - name: Deploy to AWS ECS
        env:
          AWS_REGION: ${{ secrets.AWS_REGION }}
        run: |
          aws ecs update-service --cluster Doc-Cluster --service Task-1 --force-new-deployment --region $AWS_REGION
