name: Deploy to AWS Dev Server

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v1
        with:
          region: ${{ secrets.AWS_REGION }}
          access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

      - name: Check AWS_REGION value
        run: echo "AWS_REGION is $AWS_REGION"
        env:
          AWS_REGION: ${{ secrets.AWS_REGION }}

      - name: List files in directory (for debugging)
        run: ls -la

      - name: Build and Push Frontend Docker Image to ECR
        run: |
          docker build -t frontend:latest ./frontend
          docker tag frontend:latest ${{ secrets.FRONTEND_ECR_REPOSITORY_URI }}:latest
          docker push ${{ secrets.FRONTEND_ECR_REPOSITORY_URI }}:latest
        env:
          AWS_REGION: ${{ secrets.AWS_REGION }}

      - name: Build and Push Backend Docker Image to ECR
        run: |
          docker build -t backend:latest ./backend
          docker tag backend:latest ${{ secrets.BACKEND_ECR_REPOSITORY_URI }}:latest
          docker push ${{ secrets.BACKEND_ECR_REPOSITORY_URI }}:latest
        env:
          AWS_REGION: ${{ secrets.AWS_REGION }}

      - name: Deploy to AWS ECS
        run: |
          aws ecs update-service --cluster Doc-Cluster --service Task-1 --force-new-deployment --region ${{ secrets.AWS_REGION }}.
